
body{
    background-color:gray;
}
#loginContainer{
    font-family: Arial;
    padding:20px 0px 0px 0px;
    text-align:center;
    
}
#buttonField{
    box-shadow: 10px 10px 5px black;
    border-style: solid;
    border-radius:6px;
    border-width:2px;
    font-family:Arial;
    font-weight: bold;
    font-size:16px;
    padding:10px;
    width:250px;
    background-color: green;
    border-color:black;
    
}
#buttonField:hover{
    border-style: solid;
    border-radius:6px;
    border-width:2px;
    font-family:Arial;
    font-size:16px;
    padding:10px;
    width:250px;
    background-color:white;
    border-color:black;
    color:black;
    
}
#loginForm{
    padding:15px;
}
#loginLab{
font-family:Arial;
font-size: 22px;
font-weight: bold;
}
#signuplink{
    font-family: Arial;
    color:blue;
    padding: 8px;
    text-decoration: none;
    font-size:12px;
}
#resetLinks{
    font-family: Arial;
    color:black;
    padding: 8px;
    text-decoration: none;
    font-size:12px;
}
input[type=text]{
   
    border-style:solid;
    border-width: 2px;
    border-radius: 4px;
    border-color: black;
    padding:10px;

}
input[type=date]{
    font-family:Arial;
    border-style:solid;
    border-width: 2px;
    border-radius: 4px;
    border-color: black;
    padding: 10px 35px 10px 35px;
}
input[type=password]{
    border-style:solid;
    border-width: 2px;
    border-radius: 4px;
    border-color: black;
    padding:10px;
}
::placeholder{
    text-align:center;
}
form{
    margin: 0 auto;

}
#regsuccess{
    text-align:center;
    font-weight:bold;
    font-family:Arial;
    font-size:20px;
    background-color: green;
}
#logoutMsg{
    font-family:Arial;
    font-weight:bold;
    font-size: 14px;
    border-radius:2px;
    background-color: greenyellow;
    padding:10px;
    width:200px;
    margin:0 auto;
}
#registerMsg{
    font-family:Arial;
    font-weight:bold;
    font-size: 14px;
    border-radius:2px;
    background-color: greenyellow;
    padding:10px;
    width:200px;
    margin:0 auto;
}
#retryMsg{
    font-family:Arial;
    font-weight:bold;
    font-size: 14px;
    border-radius:2px;
    background-color: coral;
    padding:10px;
    width:300px;
    margin:0 auto;
}

